@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
@import url(https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100;200;300;400;500;600;700&display=swap);
body{
    display: flex;
    margin: 0;
    flex-direction: column;
}

header {
    background-color: #1A237E;
    padding: 0.5em;
    font-family: 'M PLUS 1 Code';
    color: #FFFFFF;
    flex: 1;
    text-align: center;


}
.choice{
    display: flex;
    justify-content: space-around;
    padding: 1em;
    flex-direction: row;

}

.players{
    display: flex;
    color: #FFFFFF;
    font-family: 'M PLUS 1 Code';
    background-color: #3949AB;
    

}

.game-container{
    padding: 2em;
    display: grid;
    justify-self: center;
    align-self: center;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    width: 30em;

}

.cards{
    display: flex;
    background-color: #5C6BC0;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 20px;
    padding: .5em;
    font-size: 70px;
    aspect-ratio: 1;
    text-align: center;
    border: 1px solid #FFFFFF;
    cursor:pointer;

}

.winner{
    position:fixed;
    flex-direction: column;
    display:none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 5rem;
}

.winner.show{
    display: flex;
}

.winner button{
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
    border-radius: 10px;
}


.winner button:hover{
    background-color: black;
    color: white;
    border-color: white;
}